@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
	padding-top: 55px;
}

.bg-twitch {
	background-color: #6441A4;
}

.navbar-twitch {
	color: #fff;
}

.navbar-twitch .navbar-brand {
	color: #fff;
}

.navbar-nav .nav-link {
	color: #fff;
}